* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
  justify-content: center;
}
body {
  width: 100%;
  overflow-x: hidden;
}
.title {
  text-align: center;
  margin: 0 auto 40px;
  position: relative;
  line-height: 60px;
  color: yellow;
}
.title::after {
  content: "";
  background: red;
  width: 80px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
header {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 35px 16%;
  background: transparent;
  transition: ease 0.4s;
}
.logo img {
  width: 150px;
  height: auto;
  border-radius: 10px;
}
.navlist {
  display: flex;
}
.navlist a {
  display: inline-block;
  color: #040000;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 10px 20px;
  margin: 0 5px;
  transition: all 0.4s ease;
}
.navlist a:hover {
  background-color: darkblue;
  color: #fff;
}
.navlist a.active {
  background-color: skyblue;
  color: #fff;
}
/* apply button */
.button {
  cursor: pointer;
  margin: 0 5px;
  background-color: #00bdd7;
  padding: 10px 26px 10px;
  border: 1px solid #00bdd7;
  border-radius: 40px;
  position: absolute;
  color: #fff;
  min-height: 54px;
  outline: 0;
  /* width: 120px; */
  transition: color 0.1s ease-in 0.32s, width 0.2s ease-in,
    font-size 0.1s ease-in 0.21s;
  text-transform: uppercase;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
.button:hover{
  opacity: 0.7;
}
#menu-icon {
  color: #fff;
  font-size: 40px;
  z-index: 10001;
  cursor: pointer;
  display: none;
}
section {
  padding: 0 16%;
}
.main {
  position: relative;
  width: 100%;
  height: 100vh;
  /* background-image: url(../images/backg.jpg); */
  background-image: whitesmoke;
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
}

/*background video styling*/
.back-video {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.main-text h1 {
  font-size: 90px;
  color: #fff;
  max-width: 200px;
  line-height: 1.1;
  margin: 0 0 60px 0;
}

.left {
  position: absolute;
  top: 50%;
  left: 7%;
  transform: translateY(-50%);
}
.right {
  position: absolute;
  top: 50%;
  right: 7%;
  transform: translateY(-50%);
}

@media (max-width: 1330px) {
  header {
    padding: 10px 5%;
  }
  .main-text h1 {
    font-size: 80px;
    transition: 0.3s;
  }
}
@media (max-width: 990px) {
  #menu-icon {
    display: block;
  }
  .navlist {
    position: absolute;
    top: -600px;
    left: 0;
    right: 0;
    flex-direction: column;
    background: rgba(8, 5, 0, 0.9);
    text-align: left;
    transition: all 0.4s ease;
  }
  .navlist a {
    display: block;
    padding: 1rem;
    margin: 0.5rem;
    border-left: 2px solid #fff;
    color: #fff;
  }
  .navlist.open {
    top: 100%;
  }
}
.main_container {
  padding: 100px;
  /* background-color: transparent; */
  /* opacity: 0.6; */
}
.main_container h1 {
  font-weight: bolder;
  font-size: 60px;
  text-align: center;
  align-items: center;
}
/*FA-FA CSS*/
.icons .fab {
  height: 40px;
  width: 40px;
  margin: 0 8px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  color: #fff;
  font-size: 17px;
  text-decoration: none;
  transition: all 0.4s ease;
}
.icons .fa-facebook {
  background: #4267b2;
}
.icons .fa-facebook:hover {
  color: #4267b2;
  background: white;
}
.icons .fa-twitter {
  background: #1da1f2;
}
.icons .fa-twitter:hover {
  color: #1da1f2;
  background: white;
}
.icons .fa-instagram {
  background: #e1306c;
}
.icons .fa-instagram:hover {
  color: #e1306c;
  background: white;
}
.red-color {
  color: red;
}
/*ABOUT US CSS*/
.container2 {
  text-align: center;
  max-width: 100%;
  max-height: 100%;
  padding: 100px;
  background: rgba(8, 65, 187, 0.774);
  justify-content: center;
}
.container2 h1 {
  font-size: 35px;
  text-align: center;
  color: yellow;
}
.container2 p {
  font-size: 25px;
  color: white;
  text-align: center;
  line-height: 35px;
  margin-bottom: 40px;
}
.btn a {
  position: relative;
  color: #f5f5f5;
  height: 50px;
  width: 150px;
  display: inline-block;
  text-align: center;
  border-radius: 30px;
  text-decoration: none;
  background-image: linear-gradient(
    115deg,
    #4fcf70,
    #fad648,
    #a767e5,
    #12bcfe,
    #44ce7b
  );
  margin-top: 30px;
  margin-bottom: 10px;
}
.btn a:hover {
  animation: rotate 0.4s linear infinite;
}
@keyframes rotate {
  100% {
    filter: hue-rotate(-360deg);
  }
}
.btn a span {
  height: 88%;
  width: 96%;
  background: black;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 30px;
  line-height: 45px;
  font-size: 20px;
  transform: translate(-50%, -50%);
}

/*STATISTICS CSS*/
.statistics-about-us-part {
  background: rgba(8, 65, 187, 0.774);
  padding-bottom: 30px;
  justify-content: center;
}
.row1 {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.col-2 {
  margin: 0 15px 25px;

  border-radius: 2px;

  flex-basis: 45%;
}
.card1 {
  height: 280px;
  width: 350px;
  padding: 20px 35px;
  background: black;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  text-align: center;
  transition: transform 1s;
}
.card1:hover {
  transform: translateX(50px);
}
.card1 i {
  font-size: 50px;
  display: block;
  text-align: center;
  margin: 25px 0px;
  color: #f9004d;
}

.col-2 h1 {
  text-align: center;
  font-size: 35px;
  line-height: 50px;
  color: yellow;
  text-transform: uppercase;
  font-weight: bolder;
}
.col-2 p {
  font-size: 15px;
  line-height: 25px;
  margin-top: 0px;
  color: white;
}
/*SERVICES*/

.title h2 {
  text-align: center;
  font-size: 40px;
  line-height: 60px;
  color: yellow;
  font-weight: bolder;
}
.row2 {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card3 {
  height: auto;
  width: 335px;
  padding: 20px 35px;
  background: black;
  border-radius: 20px;
  margin: 15px;
  position: relative;
  overflow: hidden;
  text-align: center;
  transition: transform 1s;
  flex-basis: 45%;
}
.card3:hover {
  transform: translateY(-50px);
}
.card3 i {
  font-size: 50px;
  display: block;
  text-align: center;
  margin: 25px 0px;
  color: #f9004d;
}
.container4 {
  background: rgba(8, 65, 187, 0.774);
  padding-top: 50px;
  padding-bottom: 50px;
  overflow: hidden;
}
.container4 h2 {
  font-size: 35px;
}
.container4 h1 {
  color: red;
  font-size: 23px;
  margin-bottom: 15px;
}
.container4 p {
  color: white;
  font-size: 16px;
  line-height: 27px;
  margin-bottom: 25px;
}

.card3 .button {
  background-color: transparent;
  border: 5px solid yellow;
  cursor: pointer;
  color: white;
  border-radius: 30px;
  padding: 9px 22px;
}
.card3 .button:hover {
  background-color: yellow;
  color: black;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 9px 22px;
  border-radius: 30px;
  transition: 0.4s;
}
/*PARTNERS*/
.row3 {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}
.container5 {
  text-align: center;
  padding: 100px;
  background: rgba(8, 65, 187, 0.774);
  justify-content: center;
}
.container5 h2 {
  font-size: 35px;
}

.partners {
  /* background-color: skyblue;
    opacity: 0.9; */
}
/*FOOTER*/
footer {
  position: relative;
  background: rgba(14, 56, 146, 0.932);
  width: 100%;
  bottom: 0;
  left: 0;
}
footer::before {
  content: "";
  position: absolute;
  left: 0;
  top: 100px;
  height: 1px;
  width: 100%;
  background: #afafb6;
}
footer .content {
  max-width: 1250px;
  margin: auto;
  padding: 30px 40px 40px 40px;
}
footer .content .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}
.content .top .logo-details {
  color: #fff;
  font-size: 30px;
}
.content .top .media-icons {
  display: flex;
}
.content .top .media-icons a {
  height: 40px;
  width: 40px;
  margin: 0 8px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  color: #fff;
  font-size: 17px;
  text-decoration: none;
  transition: all 0.4s ease;
}
.top .media-icons a:nth-child(1) {
  background: #4267b2;
}
.top .media-icons a:nth-child(1):hover {
  color: #4267b2;
  background: #fff;
}
.top .media-icons a:nth-child(2) {
  background: #1da1f2;
}
.top .media-icons a:nth-child(2):hover {
  color: #1da1f2;
  background: #fff;
}
.top .media-icons a:nth-child(3) {
  background: #e1306c;
}
.top .media-icons a:nth-child(3):hover {
  color: #e1306c;
  background: #fff;
}
.top .media-icons a:nth-child(4) {
  background: #ff0000;
}
.top .media-icons a:nth-child(4):hover {
  color: #ff0000;
  background: #fff;
}

footer .content .link-boxes {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
footer .content .link-boxes .box {
  width: calc(100% / 5 - 10px);
}
.content .link-boxes .box .link_name {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
  position: relative;
}
.link-boxes .box .link_name::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 2px;
  width: 35px;
  background: #fff;
}
.content .link-boxes .box li {
  margin: 6px 0;
  list-style: none;
}
.content .link-boxes .box li a {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  opacity: 0.8;
  transition: all 0.4s ease;
}
.content .link-boxes .box p {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  opacity: 0.8;
  transition: all 0.4s ease;
}
.content .link-boxes .box p:hover {
  opacity: 1;
}
.content .link-boxes .box li a:hover {
  opacity: 1;
  text-decoration: underline;
}
.content .link-boxes .input-box {
  margin-right: 55px;
}
.link-boxes .input-box input {
  height: 40px;
  width: calc(100% + 55px);
  outline: none;
  border: 2px solid #afafb6;
  background: #140b5c;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 15px;
  color: #fff;
  margin-top: 5px;
}
.link-boxes .input-box input::placeholder {
  color: #afafb6;
  font-size: 16px;
}
.link-boxes .input-box input[type="button"] {
  background: #fff;
  color: #140b5c;
  border: none;
  font-size: 18px;
  font-weight: 500;
  margin: 4px 0;
  opacity: 0.8;
  cursor: pointer;
  transition: all 0.4s ease;
}
.input-box input[type="button"]:hover {
  opacity: 1;
}
footer .bottom-details {
  width: 100%;
  background: #0f0844;
}
footer .bottom-details .bottom_text {
  max-width: 1250px;
  margin: auto;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
}
.bottom-details .bottom_text span,
.bottom-details .bottom_text a {
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  opacity: 0.8;
  text-decoration: none;
  text-align: center;
  object-position: center;
  align-items: center;
}
.bottom-details .bottom_text a:hover {
  opacity: 1;
  text-decoration: underline;
}
.bottom-details .bottom_text a {
  text-align: center;
  object-position: center;
  align-items: center;
}
@media (max-width: 900px) {
  footer .content .link-boxes {
    flex-wrap: wrap;
  }
  footer .content .link-boxes .input-box {
    width: 40%;
    margin-top: 10px;
  }
}
@media (max-width: 700px) {
  footer {
    position: relative;
  }
  .content .top .logo-details {
    font-size: 26px;
  }
  .content .top .media-icons a {
    height: 35px;
    width: 35px;
    font-size: 14px;
    line-height: 35px;
  }
  footer .content .link-boxes .box {
    width: calc(100% / 3 - 10px);
  }
  footer .content .link-boxes .input-box {
    width: 60%;
  }
  .bottom-details .bottom_text span,
  .bottom-details .bottom_text a {
    font-size: 12px;
  }
}
@media (max-width: 520px) {
  footer::before {
    top: 145px;
  }
  footer .content .top {
    flex-direction: column;
  }
  .content .top .media-icons {
    margin-top: 16px;
  }
  footer .content .link-boxes .box {
    width: calc(100% / 2 - 10px);
  }
  footer .content .link-boxes .input-box {
    width: 100%;
  }
}
.ytvideo {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
}
.ytvideo iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
